<h1>ユーザー情報</h1>
<table>
    <thead>
        <tr>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>詳細／退会</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td>
                <%= user.name %>
            </td>
            <td><%= user.email%></td>
            <td>
                <% if user.deleted_at? %>
                    退会済み
                <% else%>
                    <%= link_to admins_user_path(user) do %>
                        詳細
                    <% end %>
                <% end %></td>
        </tr>
        <% end %>
    </tbody>
</table>
