<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="comment-text">
        <p>
            <%= comment.user.name %>
            <span class="comment-date">
                <%= l comment.created_at %>
            </span>
            <% if comment.user == current_user %>
                <%= link_to "削除", "#{comment.item_id}/comments/#{comment.id}", method: :delete, remote: true, class: "comment_destroy" %>
            <% end %>
        </p>
        <div class="comment-content">
            <%= simple_format(comment.content) %>
        </div>
    </div>
  <% end %>
<% end %>
