@import 'color';

/* ボックス */
.box {
  width: 60%;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin: 20px auto 35px;
  padding: 10px 30px;
  h3 {
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    margin-bottom: 10px;
  }
}

.checkbox-inline {
  line-height: 1.7;
  margin: 10px 20px;
}
