@import "color";

@mixin link_btn($font-color, $back-color) {
  display: inline-block;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 13px 16px;
  background-color: $back-color;
  color: $font-color;
  line-height: 11px;
  transition: 0.3s;
  border: 1px solid $gray;
  box-shadow: 2px 2px 4px gray;
  text-decoration: none;
  &:hover {
    box-shadow: none;
    color: $back-color;
    background: $font-color;
  }
  &:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
}

@mixin round_btn($font-color, $back-color) {
  display: inline-block;
  margin-bottom: 15px;
  box-shadow: 2px 2px 4px gray;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  padding: 11px 11px;
  background-color: $back-color;
  color: $font-color;
  line-height: 11px;
  border: 1px solid $gray;
}

.btn-position {
  margin-bottom: 30px;
  text-align: center;
}

.yellow-btn {
  @include round_btn(black, rgb(255, 229, 80));
}

.gray-btn {
  @include round_btn(black, rgb(226, 226, 226))
}

.btn-pink {
  @include link_btn(#ffffff, $dark-pink);
}

.btn-green {
  @include link_btn(#ffffff, #00bd4f);
}

.btn-blue {
  @include link_btn(#ffffff, rgb(34, 81, 235));
}

.btn-red {
  @include link_btn(#ffffff, rgb(252, 63, 16));
}

.btn-yellow {
  @include link_btn(#474747, rgb(241, 241, 11));
}

.btn-orange {
  @include link_btn(black, rgb(255, 166, 0));
}

/* いいねボタン系 */
.buttons_like {
  margin: 20px 0;
}

.liked_button {
  @include link_btn(#ffffff, #e262d1);
}

.like_button {
  @include link_btn(rgb(252, 252, 129), #566462);
}

/* 商品コメント系のボタン */
.comment_destroy {
  @include link_btn(#ffffff, rgb(221, 48, 48));
  margin-left: 10px;
}

.comment-post {
  @include link_btn(#ffffff, rgb(9, 136, 62));
  font-size: 1.1em;
  margin: 10px;
}
