@import "color";

@mixin link_btn($font-color, $back-color) {
  display: inline-block;
  border-radius: 2px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 13px 16px;
  background-color: $back-color;
  color: $font-color;
  line-height: 11px;
  transition: 0.3s;
  border: 1px solid $gray;
  box-shadow: 2px 2px 4px gray;
  &:hover {
    box-shadow: none;
    color: $back-color;
    background: $font-color;
  }
  &:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
}

.btn-position {
  margin-bottom: 30px;
  text-align: center;
}

.purple-btn {
  display: inline-block;
  margin-bottom: 15px;
  box-shadow: 2px 2px 4px gray;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  padding: 11px 11px;
  background-color: rgb(223, 150, 241);
  color: black;
  line-height: 11px;
  border: 1px solid $gray;
}

.btn-pink {
  @include link_btn(#ffffff, $dark-pink);
}

.btn-green {
  @include link_btn(#ffffff, #00bd4f);
}

.btn-red {
  @include link_btn(#ffffff, rgb(252, 63, 16));
}

.btn-yellow {
  @include link_btn(#474747, rgb(241, 241, 11));
}

/* いいねボタン系 */
.buttons_like {
  margin: 20px 0;
}

.liked_button {
  @include link_btn(#ffffff, #e262d1);
}

.like_button {
  @include link_btn(rgb(252, 252, 129), #566462);
}
