/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./common/color";
// @import "./common/form";
// @import "./common/pagination";
// @import "./common/table";
// @import "./common/button";
// @import "./header";
// @import "./footer";

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.6em;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 80%;
  margin: 20px auto 0;
}

.center {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 375px) {
  h2 {
    font-size: 1.4rem;
  }
}
