/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import "bootstrap-sprockets";
// @import "bootstrap";
@import "./common/color";
@import "./common/form";
@import "./common/table";
@import "./common/button";
@import "./header";
@import "./footer";

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* 説明文 */
.sentence {
  margin: 2em 0;
  background: $light-pink;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);

  .box-title {
    font-size: 1.2em;
    background: $dark-pink;
    padding: 4px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  p {
    padding: 15px 20px;
    margin: 0;
  }
}

.item-sentence {
  width: 70%;
}

/* ボックス */
.box {
  width: 50%;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin: 10px auto 20px;
  padding: 0px 15px 15px;
  h4 {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
  }
}

@media screen and (max-width: 767px) {
  .contents {
    flex-direction: column;
    align-items: center;
  }

  .headline {
    margin-bottom: 6px;
  }
}
