// Place all the styles related to the users/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-content {
    margin-top: 20px;
    margin-bottom: 40px;
}

.item-left {
    width: 60%;
    float: left;
    text-align: center;
}

.item-right {
    width: 40%;
    float: left;
}

.item-img {
    width: 80%;
}
